*{
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
}
p,li, div, {
    color: red;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.header{
    background: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;

}
.logoheader{
    height: 50px;
}
.content{
    display: flex;    
}
.contentleft{
    width: 50%;
    text-align: center;
}
.contentright{
    width: 50%;
}
.calltoaction{
    color: white;
    background-color: rgb(39, 39, 39);
    margin: 1rem 27%;
    padding: 1rem;
    border-radius: 1rem;
    width: 40%;
    
}
.lienest{
    color: white;
    text-decoration: none;
}
.centrertxt{
    padding: 31% 0;
}
.txtcnt{
    padding: 40px 10%;
}
.bestseller{
    padding: 0px 30%;
    text-align: center;
    font-weight:500;
}
.imgtaille{
    width: 30%;
}
.cotecote{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.contenu{
    margin: 40px 10%;
}